<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Assignment: Notebook for Peer Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a Db2 database
3.  Execute SQL queries unsing the RODBC R package to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2022-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate Db2 tables.

Let's first load the RODBC package:

In [1]:
library(RODBC)

## Problem 1

#### Create tables

Establish a connection to the Db2 database, and create the following four tables using the RODBC package in R.
Use the separate cells provided below to create each of your tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

### Solution 1

In [2]:
# Establish database connection
    dsn_driver <- "{IBM DB2 ODBC Driver}"
    dsn_database <- "bludb"            # e.g. "bludb"
    dsn_hostname <- "125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud" # e.g "54a2f15b-5c0f-46df-8954-.databases.appdomain.cloud"
    dsn_port <- "30426"   # e.g. "32733" 
    dsn_protocol <- "TCPIP"            # i.e. "TCPIP"
    dsn_uid <- "hcf24879"        # e.g. "zjh17769"
    dsn_pwd <- "28O5fqo0nx6gk6iQ"      # e.g. "zcwd4+8gbq9bm5k4"  
    dsn_security <- "ssl"

    conn_path <- paste("DRIVER=",dsn_driver,
                  ";DATABASE=",dsn_database,
                  ";HOSTNAME=",dsn_hostname,
                  ";PORT=",dsn_port,
                  ";PROTOCOL=",dsn_protocol,
                  ";UID=",dsn_uid,
                  ";PWD=",dsn_pwd,
                  ";SECURITY=",dsn_security,        
                    sep="")
    conn <- odbcDriverConnect(conn_path)

    # Dump connection info
    ##############################################################
    sql.info <- sqlTypeInfo(conn)
    conn.info <- odbcGetInfo(conn)
    conn.info["DBMS_Name"]
    conn.info["DBMS_Ver"]
    conn.info["Driver_ODBC_Ver"]

       DBMS_Name
"DB2/LINUXX8664"

    DBMS_Ver
"11.05.0700"

Driver_ODBC_Ver
        "03.51"

In [3]:
# CROP_DATA:

    df1 <- sqlQuery(conn, "CREATE TABLE CROP_DATA (
                                      CD_ID INTEGER NOT NULL,
                                      YEAR DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      SEEDED_AREA INTEGER NOT NULL,
                                      HARVESTED_AREA INTEGER NOT NULL,
                                      PRODUCTION INTEGER NOT NULL,
                                      AVG_YIELD INTEGER NOT NULL,
                                      PRIMARY KEY (CD_ID)
                                      )", 
                    errors=FALSE
                    )

    if (df1 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [4]:
# FARM_PRICES:

df2 <- sqlQuery(conn, "CREATE TABLE FARM_PRICES (
                                CD_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL,
                                CROP_TYPE VARCHAR(20) NOT NULL,
                                GEO VARCHAR(20) NOT NULL,
                                PRICE_PRERMT FLOAT(6),
                                PRIMARY KEY (CD_ID)
                                )",
                    errors=FALSE
                    )

    if (df2 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [5]:
# DAILY_FX:

df3 <- sqlQuery(conn, "CREATE TABLE DAILY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL, 
                                FXUSDCAD FLOAT(6),
                                PRIMARY KEY (DFX_ID)
                                )",
                    errors=FALSE
                    )

    if (df3 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [6]:
# MONTHLY_FX:

df4 <- sqlQuery(conn, "CREATE TABLE MONTHLY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL, 
                                FXUSDCAD FLOAT(6),
                                PRIMARY KEY (DFX_ID)
                                )",
                    errors=FALSE
                    )

    if (df4 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

## Problem 2

#### Read Datasets and Load Tables

Read the datasets into R dataframes using the urls provided above. Then load your tables.

### Solution 2

In [7]:
crop_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv', colClasses=c(YEAR="character"))
farm_pricesdf <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv', colClasses=c(DATE="character"))
daily_fxdf <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv", colClasses=c(DATE="character"))
monthly_fxdf <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv", colClasses=c(DATE="character"))

head(crop_df)
head(farm_pricesdf)
head(daily_fxdf)
head(monthly_fxdf)

sqlSave(conn, crop_df, "CROP_DATA", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)
sqlSave(conn, farm_pricesdf, "FARM_PRICES", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)
sqlSave(conn, daily_fxdf, "DAILY_FX", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)
sqlSave(conn, monthly_fxdf, "MONTHLY_FX", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1 0     1965-12-31 Barley    Alberta      1372000     1372000        2504000
2 1     1965-12-31 Barley    Canada       2476800     2476800        4752900
3 2     1965-12-31 Barley    Saskatchewan  708000      708000        1415000
4 3     1965-12-31 Canola    Alberta       297400      297400         215500
5 4     1965-12-31 Canola    Canada        580700      580700         512600
6 5     1965-12-31 Canola    Saskatchewan  224600      224600         242700
  AVG_YIELD
1 1825
2 1920
3 2000
4  725
5  885
6 1080

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1 0     1985-01-01 Barley    Alberta      127.39
2 1     1985-01-01 Barley    Saskatchewan 121.38
3 2     1985-01-01 Canola    Alberta      342.00
4 3     1985-01-01 Canola    Saskatchewan 339.82
5 4     1985-01-01 Rye       Alberta      100.77
6 5     1985-01-01 Rye       Saskatchewan 109.75

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-03 1.3435
2 1      2017-01-04 1.3315
3 2      2017-01-05 1.3244
4 3      2017-01-06 1.3214
5 4      2017-01-09 1.3240
6 5      2017-01-10 1.3213

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-01 1.319276
2 1      2017-02-01 1.310726
3 2      2017-03-01 1.338643
4 3      2017-04-01 1.344021
5 4      2017-05-01 1.360705
6 5      2017-06-01 1.329805

## Now execute SQL queries using the RODBC R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

### Solution 3

In [10]:
totalRec_Farm <- "SELECT COUNT(CD_ID) FROM FARM_PRICES;"
sqlQuery(conn, totalRec_Farm)

  1
1 2678

## Problem 4

#### Which geographies are included in the farm prices dataset?

### Solution 4

In [17]:
Geos <- "SELECT DISTINCT GEO FROM FARM_PRICES;"
sqlQuery(conn, Geos)

  GEO
1 Alberta
2 Saskatchewan

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

### Solution 5

In [18]:
Rye <- "SELECT SUM(HARVESTED_AREA) FROM CROP_DATA WHERE CROP_TYPE = 'Rye' AND YEAR = '1968-12-31';"
sqlQuery(conn, Rye)

  1
1 476100

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

### Solution 6

In [20]:
Rye6 <- "SELECT * FROM FARM_PRICES WHERE CROP_TYPE = 'Rye' LIMIT 6;;"
sqlQuery(conn, Rye6)

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1  4    1985-01-01 Rye       Alberta      100.77
2  5    1985-01-01 Rye       Saskatchewan 109.75
3 10    1985-02-01 Rye       Alberta       95.05
4 11    1985-02-01 Rye       Saskatchewan 103.46
5 16    1985-03-01 Rye       Alberta       96.77
6 17    1985-03-01 Rye       Saskatchewan 106.38

## Problem 7

#### Which provinces grew Barley?

### Solution 7

In [22]:
Barley <- "SELECT DISTINCT GEO, CROP_TYPE FROM CROP_DATA WHERE CROP_TYPE = 'Barley';"
sqlQuery(conn, Barley)

  GEO          CROP_TYPE
1 Alberta      Barley
2 Canada       Barley
3 Saskatchewan Barley

## Problem 8

#### Find the first and last dates for the farm prices data.

### Solution 8

In [25]:
Recent <- "SELECT MAX(DATE) FROM FARM_PRICES;"
sqlQuery(conn, Recent)

Earliest <- "SELECT MIN(DATE) FROM FARM_PRICES;"
sqlQuery(conn, Earliest)

  1
1 2020-12-01

  1
1 1985-01-01

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

### Solution 9

In [26]:
MoreThan350 <- "SELECT DISTINCT CROP_TYPE, PRICE_PRERMT FROM FARM_PRICES WHERE PRICE_PRERMT >= 350;"
sqlQuery(conn, MoreThan350)

    CROP_TYPE PRICE_PRERMT
1   Canola    350.04
2   Canola    350.06
3   Canola    350.14
4   Canola    350.47
5   Canola    350.72
6   Canola    350.78
7   Canola    351.92
8   Canola    351.99
9   Canola    352.03
10  Canola    352.34
11  Canola    352.73
12  Canola    352.81
13  Canola    352.98
14  Canola    353.59
15  Canola    353.90
16  Canola    353.98
17  Canola    354.05
18  Canola    354.13
19  Canola    354.54
20  Canola    354.58
21  Canola    354.82
22  Canola    355.36
23  Canola    356.11
24  Canola    356.69
25  Canola    357.37
26  Canola    357.43
27  Canola    357.67
28  Canola    358.27
29  Canola    358.46
30  Canola    358.52
⋮   ⋮         ⋮
433 Canola    570.75
434 Canola    571.45
435 Canola    574.84
436 Canola    576.80
437 Canola    577.28
438 Canola    578.71
439 Canola    585.80
440 Canola    586.22
441 Canola    588.41
442 Canola    589.14
443 Canola    592.23
444 Canola    593.43
445 Canola    594.09
446 Canola    594.28
447 Canola    595.83
448 Canola    597.17
449 Canola    600.30
450 Canola    602.58
451 Canola    611.97
452 Canola    614.50
453 Canola    616.65
454 Canola    618.98
455 Canola    630.18
456 Canola    631.48
457 Canola    638.68
458 Canola    639.13
459 Canola    640.27
460 Canola    640.65
461 Canola    646.98
462 Canola    651.50

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

### Solution 10

In [28]:
Saskatchewan <- "SELECT CROP_TYPE, GEO, HARVESTED_AREA, AVG_YIELD FROM CROP_DATA WHERE GEO = 'Saskatchewan' AND YEAR LIKE '%2000%' ORDER BY AVG_YIELD;"
sqlQuery(conn, Saskatchewan)

  CROP_TYPE GEO          HARVESTED_AREA AVG_YIELD
1 Canola    Saskatchewan 2371500        1400
2 Rye       Saskatchewan   46500        2100
3 Wheat     Saskatchewan 6080300        2200
4 Barley    Saskatchewan 1922300        2800

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

### Solution 11

In [31]:
YEAR2000 <- "SELECT CROP_TYPE, GEO, AVG_YIELD FROM CROP_DATA WHERE YEAR >= '2000-12-31' ORDER BY AVG_YIELD;"
sqlQuery(conn, YEAR2000)

    CROP_TYPE GEO          AVG_YIELD
1   Canola    Saskatchewan 1000
2   Canola    Saskatchewan 1100
3   Canola    Alberta      1200
4   Canola    Canada       1200
5   Canola    Saskatchewan 1200
6   Canola    Canada       1300
7   Rye       Saskatchewan 1300
8   Canola    Saskatchewan 1300
9   Canola    Saskatchewan 1400
10  Canola    Canada       1400
11  Canola    Saskatchewan 1400
12  Canola    Saskatchewan 1400
13  Canola    Alberta      1500
14  Canola    Canada       1500
15  Canola    Alberta      1500
16  Wheat     Saskatchewan 1500
17  Canola    Saskatchewan 1500
18  Canola    Canada       1500
19  Rye       Saskatchewan 1600
20  Wheat     Saskatchewan 1600
21  Rye       Alberta      1600
22  Canola    Canada       1600
23  Canola    Canada       1600
24  Rye       Saskatchewan 1600
25  Rye       Alberta      1700
26  Rye       Canada       1700
27  Canola    Alberta      1700
28  Wheat     Saskatchewan 1700
29  Canola    Canada       1700
30  Canola    Alberta      1700
⋮   ⋮         ⋮            ⋮
223 Wheat     Canada       3512
224 Wheat     Alberta      3518
225 Barley    Alberta      3595
226 Barley    Alberta      3600
227 Barley    Alberta      3600
228 Barley    Alberta      3600
229 Barley    Alberta      3600
230 Barley    Saskatchewan 3600
231 Wheat     Canada       3600
232 Barley    Alberta      3600
233 Wheat     Canada       3600
234 Barley    Saskatchewan 3600
235 Barley    Saskatchewan 3690
236 Rye       Alberta      3691
237 Barley    Alberta      3700
238 Barley    Canada       3700
239 Barley    Saskatchewan 3730
240 Wheat     Alberta      3750
241 Barley    Canada       3800
242 Barley    Saskatchewan 3800
243 Barley    Canada       3810
244 Barley    Canada       3820
245 Barley    Alberta      3890
246 Wheat     Alberta      3900
247 Barley    Canada       3900
248 Wheat     Alberta      3900
249 Barley    Alberta      3900
250 Barley    Alberta      3980
251 Barley    Alberta      4100
252 Barley    Alberta      4100

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

### Solution 12

In [32]:
Wheat <- "SELECT CROP_TYPE, YEAR, (SELECT SUM(HARVESTED_AREA) FROM CROP_DATA) FROM CROP_DATA WHERE CROP_TYPE = 'Wheat' ORDER BY YEAR;"
sqlQuery(conn, Wheat)

    CROP_TYPE YEAR       3
1   Wheat     1965-12-31 1940190048
2   Wheat     1965-12-31 1940190048
3   Wheat     1965-12-31 1940190048
4   Wheat     1966-12-31 1940190048
5   Wheat     1966-12-31 1940190048
6   Wheat     1966-12-31 1940190048
7   Wheat     1967-12-31 1940190048
8   Wheat     1967-12-31 1940190048
9   Wheat     1967-12-31 1940190048
10  Wheat     1968-12-31 1940190048
11  Wheat     1968-12-31 1940190048
12  Wheat     1968-12-31 1940190048
13  Wheat     1969-12-31 1940190048
14  Wheat     1969-12-31 1940190048
15  Wheat     1969-12-31 1940190048
16  Wheat     1970-12-31 1940190048
17  Wheat     1970-12-31 1940190048
18  Wheat     1970-12-31 1940190048
19  Wheat     1971-12-31 1940190048
20  Wheat     1971-12-31 1940190048
21  Wheat     1971-12-31 1940190048
22  Wheat     1972-12-31 1940190048
23  Wheat     1972-12-31 1940190048
24  Wheat     1972-12-31 1940190048
25  Wheat     1973-12-31 1940190048
26  Wheat     1973-12-31 1940190048
27  Wheat     1973-12-31 1940190048
28  Wheat     1974-12-31 1940190048
29  Wheat     1974-12-31 1940190048
30  Wheat     1974-12-31 1940190048
⋮   ⋮         ⋮          ⋮
139 Wheat     2011-12-31 1940190048
140 Wheat     2011-12-31 1940190048
141 Wheat     2011-12-31 1940190048
142 Wheat     2012-12-31 1940190048
143 Wheat     2012-12-31 1940190048
144 Wheat     2012-12-31 1940190048
145 Wheat     2013-12-31 1940190048
146 Wheat     2013-12-31 1940190048
147 Wheat     2013-12-31 1940190048
148 Wheat     2014-12-31 1940190048
149 Wheat     2014-12-31 1940190048
150 Wheat     2014-12-31 1940190048
151 Wheat     2015-12-31 1940190048
152 Wheat     2015-12-31 1940190048
153 Wheat     2015-12-31 1940190048
154 Wheat     2016-12-31 1940190048
155 Wheat     2016-12-31 1940190048
156 Wheat     2016-12-31 1940190048
157 Wheat     2017-12-31 1940190048
158 Wheat     2017-12-31 1940190048
159 Wheat     2017-12-31 1940190048
160 Wheat     2018-12-31 1940190048
161 Wheat     2018-12-31 1940190048
162 Wheat     2018-12-31 1940190048
163 Wheat     2019-12-31 1940190048
164 Wheat     2019-12-31 1940190048
165 Wheat     2019-12-31 1940190048
166 Wheat     2020-12-31 1940190048
167 Wheat     2020-12-31 1940190048
168 Wheat     2020-12-31 1940190048

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

### Solution 13

In [34]:
MPPMTC <- "SELECT FARM_PRICES.DATE, CROP_TYPE AS Crop, GEO AS Location, PRICE_PRERMT AS USD, PRICE_PRERMT*FXUSDCAD AS CAD
FROM FARM_PRICES, MONTHLY_FX where FARM_PRICES.DATE = MONTHLY_FX.DATE
AND CROP_TYPE = 'Canola' AND GEO = 'Saskatchewan' 
ORDER BY DATE DESC 
LIMIT 6;"
sqlQuery(conn, MPPMTC)

  DATE       CROP   LOCATION     USD    CAD
1 2020-12-01 Canola Saskatchewan 507.33 649.7735
2 2020-11-01 Canola Saskatchewan 495.64 647.7123
3 2020-10-01 Canola Saskatchewan 474.80 627.4344
4 2020-09-01 Canola Saskatchewan 463.52 613.1489
5 2020-08-01 Canola Saskatchewan 464.60 614.2964
6 2020-07-01 Canola Saskatchewan 462.88 624.8186

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                                                                                         |
| ---------- | ------- | ------------- | ---------------------------------------------------------------------------------------------------------- |
| 2021-04-01 | 0.7     | Jeff Grossman | Split Problem 1 solution cell into multiple cells, fixed minor bugs                                        |
| 2021-03-12 | 0.6     | Jeff Grossman | Cleaned up content for production                                                                          |
| 2021-03-11 | 0.5     | Jeff Grossman | Moved more advanced problems to optional honours module                                                    |
| 2021-03-10 | 0.4     | Jeff Grossman | Added introductory and intermediate level problems and removed some advanced problems                      |
| 2021-03-04 | 0.3     | Jeff Grossman | Moved some problems to a new practice lab as prep for this assignment                                      |
| 2021-03-04 | 0.2     | Jeff Grossman | Sorted problems roughly by level of difficulty and relegated more advanced ones to ungraded bonus problems |
| 2021-02-20 | 0.1     | Jeff Grossman | Started content creation                                                                                   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>